<!DOCTYPE html>
<html>

<head>
</head>

<body>

@Html.Partial("_geoByIpPartial", new Collection<object> {})    <!--here is connected the component view element-->

@Html.Partial("_footerSection", "")

</body>

</html>
